.hidden {
    display: none !important;
}

.calsvg {
    font: 12px sans-serif;
    width: 100%;
    height: auto;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.card-header {
    font-weight: bold;
    font-size: large;
}

.highpomo {
    color: darkgreen;
    background: greenyellow;
}

.d3chart {
    border: 1px solid #000;
}

.lowpomo {
    color: red;
    background: pink;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.path--background {
    fill: floralwhite;
    stroke: #000;
    stroke-width: 1px;
}

.path--foreground {
    fill: steelblue;
    stroke: maroon;
    stroke-width: 3px;
}

.break--foreground {
    fill: orange;
    stroke: maroon;
    stroke-width: 3px;
}

.label {
    font: 24px sans-serif;
    text-anchor: middle;
}

li {
    text-align: left;
}

.card-body ul {
    list-style-type: circle;
    background-color: aliceblue;
    padding: 10px 20px;
}

div.card-body {
    padding: 0.5rem;
}

.pomodiv {
    margin: 4px;

    float: left;
}

.pomodiv label {
    float: left;
    width: 80px;
    margin: 4px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;

}

.pomodiv label span {
    text-align: center;
    font-size: 20px;
    padding: 13px 0px;
    display: block;
}

.pomodiv label input {
    position: absolute;
    visibility: hidden;
}

.pomodiv input:checked+span {
    background-color: #404040;
    color: #F7F7F7;
}

.pomodiv .yellow {
    background-color: #FFCC00;
    color: #333;
}

.pomodiv .blue {
    background-color: #00BFFF;
    color: #333;
}


.v-autocomplete .v-autocomplete-input-group .v-autocomplete-input {
    font-size: 1em;
    padding: 10px 15px;
    box-shadow: none;
    border: 1px solid #157977;
    width: 100%;
    outline: none;
    background-color: #fff;
}

.v-autocomplete .v-autocomplete-input-group.v-autocomplete-selected .v-autocomplete-input {
    color: #008000;
    background-color: #f2fff2;
}

.v-autocomplete .v-autocomplete-list {
    width: 100%;
    text-align: left;
    border: none;
    border-top: none;
    max-height: 100px;
    overflow-y: auto;
    border-bottom: 1px solid #157977;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item {
    cursor: pointer;
    background-color: #fff;
    padding: 5px;
    border-bottom: 1px solid #157977;
    border-left: 1px solid #157977;
    border-right: 1px solid #157977;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:last-child {
    border-bottom: none;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:hover {
    background-color: #eee;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item abbr {
    opacity: 0.8;
    font-size: 0.8em;
    display: block;
    font-family: sans-serif;
}

.c3-chart-arcs-title,
text.c3-title {
    font-weight: bold
}

text.c3-chart-arcs-title {
    font-size: smaller;
}