.hidden {
    display: none !important;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}